nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: whitesmoke;
    background-color: #003F72;
    width: 100%;
    position:fixed;
    z-index: 1000;
    
}
.first ul{
    display: flex;
    gap: 34px;
   
}
.navbar{
    display: flex;
    align-items: center;
    gap: 20px;
}

.first ul li{
    list-style-type: none;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.navbar img{
    width: 50px;
    cursor: pointer;
}
body{
    background-color: rgb(253, 253, 253);
    padding-top: 0.25px;
    margin: 0;
    
}
div{
    display: block;

}
.card{
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    background-color: #dcdde3;

}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 10px rgb(81, 76, 76);
  }
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}
.info{
    display: flex;
    background-color: #003F72;
    justify-content: space-around;
    
}
.info ul li{
    color: aliceblue;
    padding:2px;
}


.info h2{
    color:white;
}
.card img{
    width: 100%;
    height: 200px; 
    object-fit: cover; 
    border-radius: 8px;
    object-fit: cover;
}
.menubar img {
    width: 20px;
    cursor: pointer;
    padding-left: 35px;
}
.button{
    text-align: center;
}
.button button{
    padding: 3px;
    border-radius: 3px;
    background-color: #003F72;
    color: white;
}

