* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6dc2ec, #d35400);
    font-family: Arial, sans-serif;
}

.container {
    width: 350px;
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
    transition: transform 0.5s ease-in-out;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.form-container.hidden {
    opacity: 0;
    transform: scale(0.8);
    pointer-events: none;
}

.form-container h2 {
    margin-bottom: 15px;
    color: #333;
}

.form-container input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.form-container input:focus {
    border-color: #f39c12;
    box-shadow: 0 0 8px rgba(243, 156, 18, 0.3);
}


.form-container button {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #7cb9da;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-container button:hover {
    background-color: #d35400;
    transform: translateY(-2px);
}

.captcha {
    display: flex;
    align-items: center;
    gap: 10px;
}

.captcha span {
    font-size: 18px;
    color: #333;
}

p {
    font-size: 14px;
}

a {
    color: #f39c12;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #e67e22;
    text-decoration: underline;
}

.hidden {
    display: none;
}
#signupForm{
 display: flex;
 flex-direction: column;
 gap: 1rem;
}
