body {
    font-family: Arial, sans-serif; 
    background-color: #39b080; 
    margin: 0;
    padding: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    max-width: 1200px;
    margin: auto;
}


.card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); 
}

.title {
    font-size: 1.5em; 
    color: #007BFF; 
    margin: 10px 0; 
}

.content {
    font-size: 1em; 
    color: #333; 
    margin: 10px 0; 
}

.button {
    text-align: center;
    margin-top: auto;
}

.button button {
    background-color: #007BFF; 
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s; 
}

.button button:hover {
    background-color: #0056b3; 
    transform: scale(1.05);
}



.card {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    background: linear-gradient(135deg, #ffffff, #e9ecef); 
    border: 1px solid #ccc; 
    border-radius: 10px; 
    padding: 20px; 
    width: calc(25% - 20px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; 
    transition: transform 0.3s, box-shadow 0.3s; 
    height: 150px; 
}

.button {
    margin-top: auto; 
    text-align: center; }
